<!DOCTYPE html>
<html lang="en">

<head>
    <title>OZ Camp</title>
    <!-- Next line is to make the code compatible with mobile -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- our stylesheet -->
    <link rel="stylesheet" type="text/css" href="/stylesheet/main.css">

    <!-- bootstrap and fontawesome -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <script src="https://kit.fontawesome.com/3dfb84bada.js" crossorigin="anonymous"></script>



</head>

<body>

    <!-- starting navbar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="nav navbar-brand">OZ Camp!</a>
 
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- left side of the page  -->
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/campgrounds"> <i class="fas fa-campground"></i>Campgrounds</a></li>

                    <!-- You may add the "About" and "Content" later -->

                            <!-- <li><a href="">Contact</a></li>  -->
                </ul>
                <!-- right side of the page -->

                <ul class="nav navbar-nav navbar-right">
                    <%if (!currentUser){ %>
                        <li><a href="/register">Sign Up <i class="fas fa-user-plus"></i> </a></li>
                        <li><a href="/login">Login <i class="fas fa-user"></i></a></li>
                    <%}else{%>
                        <!-- NOTIFICATION  -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notifications <span class="badge"><%= notifications.length %></span></a>
                            <ul class="dropdown-menu">
                            <li>
                              <a href="/notifications">View past notifications</a>
                            </li>
                            <% notifications.forEach(function(notification) { %>                          
                                  <li>
                                      <a href="/notifications/<%= notification.id %>">
                                          <%= notification.username %> created a new campground
                                    </a>
                                </li>
                            <% }); %>
                            </ul>
                        </li>
                    <li><a href='#'> <%=currentUser.username%> <i class="fas fa-user-check"></i></a></li>
                    <li><a href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a></li>
                    <%}%>
                </ul>
                    
            </div>
        </div>
    </nav>
    
<% if(error && error.length >0){%>
    <div class="container">
        <div class='alert alert-danger' role="alert">
            <p><%=error%></p>
        </div>
    </div>
    <%}%>
<%if(success && success.length >0){%>
    <div class="container">
        <div class='alert alert-success' role="alert">
            <p><%=success%></p>
        </div>
    </div>
    <%}%>